<div class='inner'>
  <div class='title'>{{title}}</div>
  <div class='conversation'>
    <div class='slider'></div>
  </div>
  <div class='send'>
    <input type='text' name='body' class='body' />
    <input type='button' name='send' class='send' value='Send' /> 
  </div>
</div>